<div class="container">
    <div class="row justify-content-end">
        <button class="btn btn-primary m-1"><a [routerLink]="['/']">retour</a></button>
    </div>
    

 <div class="card m-3">
    <h5 class="card-header">Formulaire d'inscription</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label>Genre</label>
                    <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value=""></option>
                        <option value="m">Homme</option>
                        <option value="f">Femme</option>
                        <option value="a">Autre</option>
                    </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Un genre est requis</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Prénom</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Prénom requis</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Nom</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Nom requis</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Date de naissance</label>
                    <input type="date" formControlName="dateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
                    <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                        <div *ngIf="f.dateOfBirth.errors.required">date de naissance requise</div>
                    </div>
                </div>
            </div>

            <div class="form-group col">
                <div class="form-row">
                    <div class="form-group col-2">  
                        <label for="streetNumber"> N° </label>  
                        <input formControlName="streetNumber" class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.streetNumber.errors }" />   
                                        <div *ngIf="submitted && f.streetNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.streetNumber.errors.required">Prénom requis</div>
                    </div>    
                    </div>

                    <div class="form-group col">  
                        <label for="street"> Rue </label>  
                        <input formControlName="street" class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
                                            <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                        <div *ngIf="f.street.errors.required">Prénom requis</div>
                    </div>   
                    </div>
                </div>    
                <div class="form-row"> 
                    <div class="form-group col">  
                        <label for="town"> Ville </label>  
                        <input formControlName="town" class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.town.errors }" />
                                            <div *ngIf="submitted && f.town.errors" class="invalid-feedback">
                        <div *ngIf="f.town.errors.required">Prénom requis</div>
                    </div>   
                    </div>
                    <div class="form-group col-2">  
                        <label for="zipCode"> Code Postal </label>  
                        <input formControlName="zipCode" class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" />
                        <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.zipCode.errors.required">Prénom requis</div>
                    </div>   
                    </div>  
                    <div class="form-group col-3">  
                        <label for="country"> Pays </label>  
                        <input formControlName="country" class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                        <div *ngIf="f.country.errors.required">Prénom requis</div>
                    </div>
                           
                    </div>  
                </div> 
            </div>


            
            <div class="form-group col-6">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email requis</div>
                    <div *ngIf="f.email.errors.email">Le mail doit être une adresse mail valide</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Mot de passe</label>
                    <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">{{msgPwd1}}</div>
                        <div *ngIf="f.password.errors.minlength">{{msgPwd2}}</div>
                        <div *ngIf="f.password.errors.maxlength">{{msgPwd3}}</div>
                        <div *ngIf="f.password.errors.pattern">{{msgPwd4}}</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Confirmation du mot de passe</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">La confirmation du mot de passe est requise</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Les mots de passe doivent correspondre</div>
                    </div>
                </div>
            </div>
                <div class="form-group col-2" *ngIf="admin">
                    <label>Role</label>
                    <select formControlName="role" class="form-control">
                        <option value="u" selected>User</option>
                        <option value="a">Admin</option>
                    </select> 
                    </div>
            <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">Accepter Termes & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">L'acceptation des Ts & Cs is requise</div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Enregistrer</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
</div> 
</div>
