<div class="container">
    <div class="row justify-content-end">
        <button class="btn btn-secondary m-1"><a [routerLink]="['/']">retour</a></button>
    </div>
    
<h2>Formulaire d'inscription</h2>  
  
<form [formGroup]="form" #UserInformation (ngSubmit)="UserForm(UserInformation)">  
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="firstName"> Prénom </label>  
        <input formControlName="firstName" class="form-control" type="text">   
    </div>  
  </div>

  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="lastName"> Nom </label>  
        <input formControlName="lastName" class="form-control" type="text">   
    </div>  
  </div> 

  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="email"> Email </label>  
        <input formControlName="email" class="form-control" type="text">   
    </div>  
  </div>  
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="password"> Mot de passe </label>  
        <input formControlName="password" class="form-control" type="password">   
    </div>  
  </div>  
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="confirmPassword"> Confirmer le mot de passe </label>  
        <input formControlName="confirmPassword" class="form-control" type="password">   
    </div>  
  </div>  
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="role"> Role </label>  
        <input formControlName="role" class="form-control" type="text">   
    </div>  
  </div>  
  
  <div class="row" style="margin-top: 40px;">  
    <div class="col-md-offset-1 col-md-4">  
        <button class="btn btn-md btn-primary btn-style"  >Valider</button>  
    </div>  
  </div>  
  
</form>  
</div>
